<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .hp-header{
	padding:0 0 0px
	}
	.generic-hp-header{
		width:100%;
		position:relative
	}
	.generic-hp-header:before{
		content:"";
		position:relative;
		padding-top:24.9%;
		width:1px;
		display:inline-block;
		vertical-align:middle
	}
	.generic-hp-header>img{
		position:absolute;
		top:1;
		left:0;
		z-index:1
	}
	
	.hp-header .gender{
		margin:0 auto;
		position:relative;
		z-index:2;
		background:#fff;
		padding:10px;
		overflow:hidden;
	}
	.hp-header .gender .gender-item{
		width:32%;
		display:block;
		float:left;
		overflow:hidden;
		position:relative;
	}
	.hp-header .gender .gender-item:before{
		content:"";
		position:relative;
		padding-top:95%;
		width:1px;
		display:inline-block;
		vertical-align:top
	}
	.hp-header .gender .gender-item>img{
		position:absolute;
		z-index:1;
		top:0;
		left:0;
		width:100%;
		height:auto
	}
	
	.word-swapper,.word-swapper>li{
		position:relative;
		list-style-type:none
	}
	.hp-header .gender .gender-item+.gender-item{
		margin-left:2%
	}
	
	@media screen and (min-width:965px){
		.hp-header{
			width:100%;
			padding:0 0 0px
		}
		.generic-hp-header:before{
			padding-top:28.9%
		}
		.hp-header .gender{
			width:85%
		}
		.hp-header .gender .gender-item:before{
			padding-top:60%
		}
		.container {
  		max-width: 960px;
		}
	}
</style>